<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background: radial-gradient(circle, rgba(89,82,212,1) 0%, rgba(2,233,248,1) 100%); text-align: center; font-family: Arial, sans-serif; ">

    <form action="/signup" method="post" style="background-color: white; padding: 20px; border-radius: 10px; width: 300px; margin: 100px auto; box-shadow: 0px 0px 10px gray;">
        <input type="text" placeholder="Username" name="username" style="width: 90%; padding: 10px; margin: 10px 0; border: 1px solid gray; border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <br>
        <input type="text" placeholder="Password" name="password" style="width: 90%; padding: 10px; margin: 10px 0; border: 1px solid gray; border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <br>
        <input type="text" placeholder="Email" name="email" style="width: 90%; padding: 10px; margin: 10px 0; border: 1px solid gray; border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <br>
        <button style="background-color: green; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Signup</button>
        <hr>
        <a href="/login">already have an account</a>
    </form>
</body>
</html>