* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.nav-bar {
    width: 100vw;
    height: 3rem;
    background-color: black;
    display: flex;
    align-items: center;
    position: fixed;
}
.nav-bar a {
    height: 3rem;
    margin: 1rem;
    color: white;
}
.logo {
    width: 5rem;
    height: 3rem;
    background-color: rgb(4, 107, 107);
    display: flex;
    align-items: center;
}

.main {
    width: 100%;
    height: 95vh;
    background-image: url('https://www.w3schools.com/w3images/sailboat.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.teams{
    margin: 6rem;

}
.teams h2 {
    text-align: center;
}
.teams p {
    text-align: center;
}
.img {
    text-align: center;
}
.img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}
.team-person {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem;
}

.work-section {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
}
.work-content {
    width: 25%;
    margin: 0 1rem;
    color: white;
}
.work-sample-1 {
    width: 25%;
    margin: 0 1rem;
}
.work-sample-2 {
    width: 25%;
    margin: 0 1rem;
}
.work-container {
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    margin: 0;
}
.work-sample-3{
    width: 25%;
    margin: 0 1rem;
}
