.child {
    height: 100px;
    width: 100px;
    border: 2px solid red;
    text-align: center;
}

#child1 {
    position: relative;
    top: 100px;
    left: 200px;
}

#child2 {
    position: absolute;
    

}