/* *{
margin: 0;
padding: 0;
} */

h1{
    color: cadetblue;
}

p{
    /* color: linear-gradient(red, yellow); */
    color:color-mix(in srgb-linear, rgb(193, 26, 239) 80%, rgb(0, 17, 255) 20%) ;
}

#p3{
    color: coral;
}

.pc{
    color: chartreuse;
}

a{
    padding: 5px;
}


a[href="../lec-2/form.html"]{
    color: crimson;
}


a[href="../lec-3/time_table.html"]{
    color: rgb(10, 206, 140);
}


a[href="../lec-4/files.html"]{
    color: rgb(213, 174, 17);
}


/* 
a:Link{
    cursor: progress;
    border: 2px solid black;
    background-color: aqua;
} */



a:hover{

    cursor: no-drop;
    border: 2px solid black;
    border-radius: 25%;
    background-color: aqua;
}


a:active{
    cursor: progress;
}

/* 
a:visited{
    border: 2px solid rgb(222, 21, 21);
} */





div p{
    color: rgb(108, 218, 248);
}

/* ul>li{
    color: aqua;
} */

/* #state +li{
    color: red;
} */

/* li + li{
    color: rgb(89, 169, 9);
} */


/* #state +li ~li{
    color: blue;
} */


/* li:nth-child(1){
    color: blue;
}

li:nth-child(2){
    color: darkorange;
}

li:nth-child(3){
    color: fuchsia;
}

li:nth-child(4){
    color: cyan;
} */



li:nth-child(even){
    color: darkorange;
} 


li:nth-child(odd){
    color: blue;
} 













